.image {
    height: 400px;
    transition: 1s;
    /* width: 95%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .image:hover {
    filter: grayscale(100%);
    transform: scale(1.05);
  }
  
  /* The image urls */
  .img-1 {
    background-image: url(images/1.jpeg);
  }
  
  .img-2 {
    background-image: url(images/2.jpeg);
  }
  
  .img-3 {
    background-image: url(images/3.jpeg);
  }
  
  .img-4 {
    background-image: url(images/4.jpeg);
  }
  
  .img-5 {
    background-image: url(images/5.jpeg);
  }
  
  .img-6 {
    background-image: url(images/6.jpeg);
  }
  
  .img-7 {
    background-image: url(images/7.jpeg);
  }
  
  .img-8 {
    background-image: url(images/8.jpeg);
  }
  
  .img-9 {
    background-image: url(images/9.jpeg);
  }
  
  .img-10 {
    background-image: url(images/10.jpeg);
  }
  
  .img-11 {
    background-image: url(images/11.jpeg);
  }
  
  .img-12 {
    background-image: url(images/12.jpeg);
  }
  .img-13 {
    background-image: url(images/13.jpeg);
  }
  .img-14 {
    background-image: url(images/14.jpeg);
  }
  .img-15 {
    background-image: url(images/15.jpeg);
  }
  .img-16 {
    background-image: url(images/16.jpeg);
  }
  .img-17 {
    background-image: url(images/17.jpeg);
  }
  .img-18 {
    background-image: url(images/18.jpeg);
  }
  .img-19 {
    background-image: url(images/19.jpeg);
  }
  .img-20 {
    background-image: url(images/20.jpeg);
  }
  .img-21 {
    background-image: url(images/21.jpeg);
  }
  .img-22 {
    background-image: url(images/22.jpeg);
  }
  